@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

.poppins-regular {
  font-family: "Poppins", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #ffffff;
  font-family: "Poppins", serif;
}

.space-x {
  @apply lg:px-24 px-4;
}
.space-y {
  @apply lg:py-24 py-6;
}
.space-xy {
  @apply lg:p-24 p-6;
}

.primary-btn {
  @apply border-2 border-primary px-6 py-3 font-semibold text-primary hover:border-primary-600 rounded-md;
}

.heading {
  @apply lg:text-4xl text-2xl font-bold text-center;
}
